img {
	height: 50px;
	width: 50px;
}

.person_container {
	border: 1px solid;
	margin: 10px;
	box-sizing: 1px;
}

.person_container:nth-child(odd)
{
	background: lightblue;
}

.person_container:nth-child(even)
{
	background: lightyellow;
}

.dashed {
	border-style: dashed;
}